rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /patients/{document=**} {
      allow read, write: if request.auth != null;
    }
    match /appointments/{document=**} {
      allow read, write: if request.auth != null;
    }
    match /treatments/{document=**} {
      allow read, write: if request.auth != null;
    }
    match /expenses/{document=**} {
      allow read, write: if request.auth != null;
    }
    match /counters/{document=**} {
      allow read, write: if request.auth != null;
    }
    match /stock/{document=**} {
      allow read, write: if request.auth != null;
    }
    match /chiefComplaints/{document=**} {
      allow read, write: if request.auth != null;
    }
    match /dentalExaminations/{document=**} {
      allow read, write: if request.auth != null;
    }
  }
}
