rules_version = '2';

service firebase.storage {
  match /b/{bucket}/o {
    // Only authenticated users can read or write to storage
    match /{allPaths=**} {
      allow read, write: if request.auth != null;
    }
    
    // Patient files can only be accessed by authenticated users
    // And files can only be written to a path that matches the patientId
    match /patient_files/{patientId}/{fileName} {
      allow read: if request.auth != null;
      allow write: if request.auth != null;
      allow delete: if request.auth != null;
    }
  }
}
