rules_version = '2';

service firebase.storage {
  match /b/{bucket}/o {
    // Secure rule: Allow access only to files within a patient's directory
    // for authenticated users.
    match /patients/{patientId}/{fileId} {
      allow read, write, delete: if request.auth != null;
    }
  }
}
